<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Publicación</ion-title>
    <ion-buttons slot="start">
      <!-- Botón para volver a la página principal -->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenedor principal -->
<ion-content class="ion-padding">
  <!-- Tomar fotografía o seleccionar de galeria -->
  <div class="margin">
    <ion-button
      class="btn-img"
      color="secondary"
      expand="block"
      (click)="tomarFoto()"
    >
      <ion-icon slot="start" name="camera"></ion-icon>
      Tomar Fotografía
    </ion-button>

    <ion-button
      class="btn-img"
      color="primary"
      expand="block"
      (click)="seleccionarFotoDeGaleria()"
    >
      <ion-icon slot="start" name="image"></ion-icon>
      Seleccionar de Galería
    </ion-button>
  </div>

  <!-- Forografía cargada -->
  <ion-card *ngIf="foto">
    <ion-img [src]="foto"></ion-img>
  </ion-card>

  <!-- Formulario para crear publivación -->
  <form
    class="ion-padding-horizontal"
    [formGroup]="formulario"
    (ngSubmit)="guardarPublicacion()"
  >
    <!--  Título -->
    <ion-item class="margin-top" lines="none">
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>
    <div
      class="ion-padding-bottom"
      *ngIf="
        formulario.get('titulo')?.invalid && formulario.get('titulo')?.touched
      "
    >
      <ion-text
        class="ion-padding"
        color="danger"
        *ngIf="formulario.get('titulo')?.errors?.['required']"
      >
        El título es obligatorio.
      </ion-text>
      <ion-text
        color="danger"
        *ngIf="formulario.get('titulo')?.errors?.['minlength']"
      >
        El título debe tener al menos 5 caracteres.
      </ion-text>
    </div>
    <!-- Descripción -->
    <ion-item class="margin-top" lines="none">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>
    <div
      class="ion-padding-bottom"
      *ngIf="
        formulario.get('descripcion')?.invalid &&
        formulario.get('descripcion')?.touched
      "
    >
      <ion-text
        class="ion-padding"
        color="danger"
        *ngIf="formulario.get('descripcion')?.errors?.['required']"
      >
        La descripción es obligatoria.
      </ion-text>
      <ion-text
        color="danger"
        *ngIf="formulario.get('descripcion')?.errors?.['minlength']"
      >
        La descripción debe tener al menos 20 caracteres.
      </ion-text>
    </div>

    <!-- Btn para guardar y crear publicación -->
    <ion-button
      class="margin-top"
      type="submit"
      expand="block"
      [disabled]="!formulario.valid"
    >
      Guardar
    </ion-button>
  </form>
</ion-content>
